<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>第一个HTML页面</title>
</head>
<body>
<h1>Hello Spring Boot!!!</h1>
<p th:text="${name}"></p>
<!--  <form action="/api/upload" method="post" name="fileUploadForm" id="fileUploadForm" enctype="multipart/form-data"> -->
<!--             <input name="fileFolder" type="file" webkitdirectory > -->
<!--             <input type="submit" name="subButton" value="提交" > -->
<!--  </form> -->
<!--     <form class="form-horizontal" role="form" id="fileUploadForm" action="/sys/uploadFolder" name="fileUploadForm" method="post" enctype="multipart/form-data">   -->
<!--                   <div class="form-group">   -->
<!--                     <input id="fileFolder" name="fileFolder" type="file" webkitdirectory><span id="msg" style="color:#F00"></span>   -->
<!--                   </div>   -->
<!--                   <button type="button" class="btn btn-primary" id="subButton" onclick="commit()">Submit</button>   -->
<!--                 </form>   -->
</body>

</html>